html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.3;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1380px;
  padding: 0 86px;
  margin: 0 auto;
}
.banner {
  padding: 80px 0 55px;
  background-color: #016955;
  color: #fff;
}
.banner__wrapper {
  display: flex;
}
.banner__content {
  margin-top: 20px;
}
.banner__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  /* line-height: 21px; */
}
.banner__description {
  font-weight: 400;
  font-size: 26px;
  margin-top: 24px;
  width: 85%;
  /* line-height: 21px; */
}
.banner__buttons {
  margin-top: 54px;
}
.banner__button {
  border-radius: 13px;
  color: #fff;
  padding: 10px 26px;
  font-size: 18px;
}
.btn-blue {
  background-color: #1d364f;
  margin-right: 7px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-green {
  background-color: #359a7e;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-green:hover,
.btn-blue:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.banner__image {
  width: 357px;
  height: auto;
}
.banner__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.overview,
.feature,
.system {
  margin-top: 60px;
}
.overview__title,
.feature__title,
.system__title,
.price-table-title {
  font-weight: 600;
  font-size: 24px;
}
.overview__description {
  margin-top: 25px;
}
.feature__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px;
  column-gap: 66px;
  margin-top: 32px;
  margin-left: 10px;
}
.feature__item {
  display: flex;
  /* align-items: center; */
  gap: 26px;
}
.feature__icon {
  color: #016955;
}
.feature__icon i {
  font-size: 36px;
}
.feature__item-title {
  font-weight: 500;
  font-size: 20px;
}
.feature__description {
  font-size: 15px;
  margin-top: 12px;
  letter-spacing: 0.7px;
  line-height: 23px;
}
.system__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
}
.system__image img {
  width: 100%;
  height: auto;
}
/* Table Price Section */
.price-table {
  padding: 50px 20px;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
/* Thiết lập kiểu chung cho bảng */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
  background-color: #e0e2e6;
}
/* Định dạng tiêu đề bảng */
.custom-table thead {
  background-color: #016955;
  color: white;
}
/* Định dạng ô tiêu đề */
.custom-table th,
.custom-table td {
  border: 1px solid #fff;
  padding: 20px 10px;
  vertical-align: middle;
}
.custom-table th:first-child,
.custom-table td:first-child {
  text-transform: uppercase;
  background-color: #016955;
  color: #fff;
}
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 25%;
}
.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 25%;
}
.custom-table th:nth-child(3) {
  width: 25%;
}
.custom-table th:nth-child(4) {
  width: 25%;
}
.system-demo {
  background: url(./img/demo-bg.jpg) center / cover no-repeat;
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.system-demo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.system-demo > * {
  position: relative;
  z-index: 2; /* đưa nội dung lên trên lớp phủ */
}

.system-demo__title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.system-demo__link {
  background-color: #016955;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 13px;
  padding: 15px 20px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 200px;
}
.system-demo__link:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .banner__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .banner__content {
    margin-top: 0;
    text-align: center;
  }
  .banner__description {
    width: 100%;
  }
  .feature__list {
    grid-template-columns: 1fr;
  }
  .system__gallery {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .banner__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .banner__image {
    width: auto;
  }
  .table-responsive {
    overflow-x: auto;
  }
  .custom-table {
    min-width: 600px;
  }
}
/* footer */
.footer {
  background-color: #016955;
  color: #ffffff;
  padding: 40px 20px;
  font-size: 14px;
}

.footer .ft_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer .ft_left {
  flex: 1 1 250px;
}

.footer .ft_left .ft_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .ft_left .ft_logo img {
  height: 60px;
}

.footer .ft_contact {
    display: flex;
    gap: 20px;

}

.footer .ft_contact p {
  margin: 8px 0;
  line-height: 1.6;
  align-items: center;
}

.footer .ft_contact p i {
font-size: 17px;
}

.footer .ft_contact p a {
  color: #ffffff;
  text-decoration: underline;
}
.footer .ft_contact p a:hover {
  color: #349914;
}

.footer .ft_info {
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #bbb;
}

@media (max-width: 768px) {
  .footer .ft_wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .ft_left,
  .footer .ft_contact {
    width: 100%;
  }

  .footer .ft_contact p {
    font-size: 14px;
  }
}

